<h2 i18n="@@clients-information">Clients Information</h2>

<form [formGroup]="clientForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="client-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Alias" formControlName="alias" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
              i18n-placeholder="@@form-first-name-placeholder"
            />
            <mat-error
              *ngIf="clientForm.controls['firstName'].hasError('required')"
              i18n="@@form-first-name-error"
            >
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              i18n-placeholder="@@form-last-name-placeholder"
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="clientForm.controls['lastName'].hasError('required')"
              i18n="@@form-last-name-error"
            >
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="ID Number"
              formControlName="idNumber"
              i18n-placeholder="@@form-id-number-placeholder"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phoneNumber"
              i18n-placeholder="@@form-phone-number-placeholder"
            />
            <mat-error
              *ngIf="clientForm.controls['phoneNumber'].hasError('required')"
              i18n-placeholder="@@form-phone-number-error"
            >
              Phone number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Date of Birth"
              formControlName="dateOfBirth"
              i18n-placeholder="@@form-date-of-birth-placeholder"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              i18n-placeholder="@@form-email-placeholder"
            />
            <mat-error
              *ngIf="clientForm.controls['email'].hasError('required')"
              i18n-placeholder="@@form-email-required-error"
            >
              Email is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="clientForm.controls['email'].hasError('email')"
              i18n-placeholder="@@form-email-error"
            >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              #postalCode
              maxlength="5"
              placeholder="Postal Code"
              type="number"
              formControlName="postalCode"
              i18n-placeholder="@@form-postal-code-placeholder"
            />
            <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-button"
      >
        {{ buttonText }}
      </button>
      <button
        *ngIf="client"
        mat-raised-button
        color="primary"
        type="button"
        class="submit-button"
        (click)="cancelEdit()"
        i18n-placeholder="@@cancel"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
