<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <p i18n="@@side-nav-menu">Menu</p>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item tabindex="0" routerLink="./home" i18n="@@home">Home</a>
      <a mat-list-item tabindex="0" routerLink="./dashboard" i18n="@@dashboard"
        >Dashboard</a
      >
      <a mat-list-item tabindex="0" routerLink="./table" i18n="@@table"
        >Table</a
      >
      <a mat-list-item tabindex="0" routerLink="./tree" i18n="@@tree">Tree</a>
      <a mat-list-item tabindex="0" routerLink="./drag-drop" i18n="@@drag"
        >Drag-Drop</a
      >
      <a mat-list-item tabindex="0" routerLink="./calendar" i18n="@@calendar"
        >Calendar</a
      >
      <a mat-list-item tabindex="0" routerLink="./client" i18n="@@client"
        >Client</a
      >

      <button
        i18n="@@sign-out"
        class="sign-out animate__animated"
        type="button"
        aria-label="Sign out"
        color="warn"
        mat-raised-button
        (click)="signOut()"
      >
        Sign out
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="toolbar-lg">
        <span i18n="@@title">AF Scheduler</span>
        <div class="account">
          <b>{{ (userFacade.user$ | async)?.firstName }}</b>
          <button
            type="button"
            aria-label="Navigate to account section"
            mat-icon-button
          >
            <ik-image
              class="account-image"
              *ngIf="(userFacade.user$ | async)?.photoURL as photoUrl"
              aria-label="Toolbar nav account icon"
              [src]="photoUrl"
            ></ik-image>

            <mat-icon
              *ngIf="!(userFacade.user$ | async)?.photoURL"
              aria-label="Toolbar nav account icon"
              >account_circle</mat-icon
            >
          </button>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
