.card-header {
  align-items: center;

  .mat-icon {
    height: auto;
    margin: 0;
    width: auto;
  }
}

.header-title {
  min-width: 200px;
}

mat-card-subtitle {
  margin-top: 0.5rem;
}

.card-header-buttons {
  align-self: center;
  text-align-last: end;
  width: 100%;

  .mdc-button {
    min-width: fit-content;
  }
}

.content {
  display: grid;
  font-size: small;
  grid-gap: 0.5rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, max-content));
  margin-top: 1rem;
}
