.grid-container {
  margin: 20px;
}

.dashboard-card {
  inset: 15px;
  position: absolute;
}

.more-button {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dashboard-card-content {
  text-align: center;
}
