mat-dialog-content,
mat-dialog-actions {
  margin: 20px;
}

mat-dialog-actions {
  justify-content: flex-end;
}

mat-select {
  text-transform: capitalize;
}

mat-option {
  text-transform: capitalize;
}

.delete-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.full-width {
  width: 100%;
}

button {
  margin-left: 10px;
}
