<div *ngIf="professionalOfferings" class="container">
  <h2 i18n-placeholder="@@professional-offerings">Services</h2>
  <mat-form-field class="full-width">
    <input
      matInput
      i18n-placeholder="@@professional-offerings-list-search"
      placeholder="Search services"
      [formControl]="search"
    />
    <mat-icon class="input-search-icon">search</mat-icon>
  </mat-form-field>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="professionalOfferings"
    class="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="list-item"
      *ngFor="let professionalOffering of professionalOfferings"
      cdkDrag
    >
      <af-professional-offering-card
        [professionalOffering]="professionalOffering"
        (edit)="editProfessionalOffering(professionalOffering)"
        (delete)="deleteProfessionalOffering(professionalOffering?.id)"
      />
    </div>
  </div>
</div>
