<mat-card *ngIf="client">
  <mat-card-header>
    <mat-icon mat-card-avatar>person</mat-icon>
    <mat-card-title
      >{{ client.firstName }} {{ client.lastName }}</mat-card-title
    >
    <mat-card-subtitle>{{ client.email }}</mat-card-subtitle>
    <div class="header-buttons">
      <a *ngIf="client.email" mat-button href="mailto:{{ client.email }}">
        <mat-icon>email</mat-icon>
      </a>

      <a
        *ngIf="client.phoneNumber"
        mat-button
        href="tel:{{ client.phoneNumber }}"
      >
        <mat-icon>phone</mat-icon>
      </a>

      <button mat-button (click)="delete.next()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-button (click)="edit.next()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="content">
    <span *ngIf="client.alias"
      ><strong i18n="@@alias">Alias:</strong> {{ client.alias }}</span
    >
    <span *ngIf="client.idNumber"
      ><strong i18n="@@id-number">ID Number:</strong>
      {{ client.idNumber }}</span
    >
    <span *ngIf="client.phoneNumber"
      ><strong i18n="@@phone-number">Phone Number:</strong>
      {{ client.phoneNumber }}</span
    >
    <span *ngIf="client.postalCode"
      ><strong i18n="@@postal-code">Postal Code:</strong>
      {{ client.postalCode }}</span
    >
    <span *ngIf="client.address"
      ><strong i18n="@@address">Address:</strong> {{ client.address }}</span
    >
    <span *ngIf="client.city"
      ><strong i18n="@@city">City:</strong> {{ client.city }}</span
    >
  </mat-card-content>
</mat-card>
