.header-buttons {
  align-self: center;
  text-align: end;
  width: 100%;

  .mdc-button {
    min-width: fit-content;
  }
}

.header-title {
  min-width: 200px;
}

.content {
  display: grid;
  font-size: small;
  grid-gap: 0.5rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, max-content));
  margin-top: 1rem;
}
